@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-indent: 15px;
    text-align: justify;
}

p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

section.flex-content {
    background-color: lightgray;
    padding: 10px;
}

section article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    margin-bottom: 20px;
}

section article.text-media {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

section article.text-media div.media iframe {
    width: 90%;
}

div.text {
    flex: 1 1 480px;
}

div.media {
    flex: 1 1 480px;
    margin: auto;
    text-align: center;
}
