@charset "UTF-8";

/*Media para tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    html, body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet {
        display: block;
    }

    #phone {
        display: none;
    }
}

/*Media para desktop*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
    html, body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#pc {
        display: block;
    }

    #phone, #tablet {
        display: none;
    }
}

/*Media para TVs/Telas grandes*/
@media screen and (min-width: 1280px) {
    html, body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#tv {
        display: block;
    }

    #phone, #tablet {
        display: none;
    }
}

/*Media para impressão do conteúdo*/
@media print {
    html, body {
        background-image: url(../imagens/back-print.jpg);
    }

    img#print {
        display: block;
    }

    #phone, #tablet {
        display: none;
    }
}