@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background: black url(../imagens/back-phone.jpg) no-repeat center center;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.750);
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

h1 {
    padding: 20px;
}

img {
    margin: auto;
}

#tablet{display: none;}
#pc{display: none;}
#tv{display: none;}
#print{display: none;}

